[run]
branch = True
source = export_csv

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    export_csv/migrations/*

