{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Demo | Export CSV</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://getbootstrap.com/examples/justified-nav/justified-nav.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="masthead">
        <h3 class="text-muted">App Demo</h3>
        <div role="tabpanel">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab"
                       data-toggle="tab">
                        Home
                    </a>
                </li>
                <li role="presentation">
                    <a href="#customers" aria-controls="customers" role="tab"
                       data-toggle="tab">
                        Customers
                    </a>
                </li>
                <li role="presentation">
                    <a href="#accounts" aria-controls="accounts" role="tab"
                       data-toggle="tab">
                        Accounts
                    </a>
                </li>
                <li role="presentation">
                    <a href="#transactions" aria-controls="transactions"
                       role="tab" data-toggle="tab">
                        Transactions
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="section">
                        <h1>django-export-csv</h1>
                        <p>
                            <a class="reference external image-reference"
                               href="https://travis-ci.org/narenchoudhary/django-export-csv">
                                <img alt="CI status" src="https://travis-ci.org/narenchoudhary/django-export-csv.svg?branch=master" />
                            </a>
                            <a class="reference external image-reference" href="https://codecov.io/gh/narenchoudhary/django-export-csv">
                                <img src="https://codecov.io/gh/narenchoudhary/django-export-csv/branch/master/graph/badge.svg"
                                     alt="Coverage Status">
                            </a>
                            <a class="reference external image-reference"
                               href="https://requires.io/github/narenchoudhary/django-export-csv/requirements/?branch=master">
                                <img alt="Requirements Status" src="https://requires.io/github/narenchoudhary/django-export-csv/requirements.svg?branch=master" />
                            </a>
                            <a class="reference external image-reference" href="https://opensource.org/licenses/BSD-3-Clause">
                                <img src="https://img.shields.io/badge/License-BSD%203--Clause-blue.svg" alt="License Status">
                            </a>
                        </p>
                    </div>
                    <div class="section">
                        <p><code>django-export-csv</code> is a reusable Django application for which provides generic views for downloading CSV files.</p>
                    </div>
                    <div class="section">
                        <h1>Installation</h1>
                        <pre><code class="python">
pip install git+https://github.com/narenchoudhary/django-export-csv#egg=django-export-csv
                        </code></pre>
                    </div>
                    <div class="section">
                        <h1>Usage</h1>
                        <p>Add <code>'export_csv'</code> to <code>INSTALLED_APPS</code> settings of the project.</p>
                        <pre>
                            <code class="python">
INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    ...
    ...
    'export_csv',
]
                            </code>
                        </pre>
                        <p>Subclass <code>ExportCSV</code> in views.py file and provide model attribute.</p>
                        <pre>
                            <code class="python">
from export_csv.views import ExportCSV

from .models import Account

class AccountCSV(ExportCSV):
    """View for creating and rendering CSV of all Account model instances."""
    model = Customer
                            </code>
                        </pre>
                        <p>In urls.py, add url pointing to the view class <code>AccountCSV</code> declared above.</p>
                        <pre>
                            <code class="python">
from .views import AccountCSV

urlpatterns = [
    (r'^account_csv/$', AccountCSV.as_view(), name='account-csv'),
]
                            </code>
                        </pre>
                        <p>That's it. It will render a CSV file containing all the fields of all the instances of <code>Account</code> model.</p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="transactions">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Transacton ID</th>
                                    <th>Account ID</th>
                                    <th>Exchange</th>
                                    <th>Fraudulent</th>
                                    <th>Date</th>
                                    <th>Deposit/Withdrawal</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                <tr {% if transaction.is_fraudulent%}
                                    class="danger" {% endif%}>
                                    <td>{{transaction.transaction_id}}</td>
                                    <td>{{transaction.account.account_no}}</td>
                                    <td>{{transaction.exchange}}</td>
                                    <td>{{transaction.is_fraudulent | yesno
                                        }}
                                    </td>
                                    <td>{{transaction.transaction_date}}</td>
                                    <td>{{transaction.deposit_or_withdrawal}}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-primary"
                               href="{% url 'transaction-csv' %}">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                Download Transactions CSV
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">Implementation
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Following code is directly taken from
                                        <code>example.app.views.py</code>
                                        file of the app.
                                    </p>
                                    <pre><code class="python">
import csv
from export_csv.views import ExportCSV
from .models import Transaction

class TransactionCSV(ExportCSV):
    # provide model whose queryset are to be exported to CSV
    model = Transaction
    # provide names of fields to be included in CSV
    field_names = ['account', 'transaction_id', 'transaction_date']
    # provide custom filename
    filename = 'transactions_csv_filename.csv'

    def get_csv_writer_kwargs(self, **kwargs):
        return dict(quoting=csv.QUOTE_ALL, delimiter=b' ', quotechar=b'|')

    def clean_transaction_id(self, value):
        return str(value).lower()
                                            </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="accounts">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Account No</th>
                                    <th>Creation Date</th>
                                    <th>Account Owner</th>
                                    <th>Account Balance</th>
                                    <th>Last Withdrawn</th>
                                    <th>Last Deposited</th>
                                    <th>Transaction Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for account in accounts %}
                                <tr>
                                    <td>{{account.account_no}}</td>
                                    <td>{{account.creation_date}}</td>
                                    <td>{{account.owner}}</td>
                                    <td>{{account.balance}}</td>
                                    <td>{{account.last_withdrawn}}</td>
                                    <td>{{account.last_deposited}}</td>
                                    <td>{{account.transaction_count}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-primary"
                               href="{% url 'account-csv' %}">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                Download Accounts CSV
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">Implementation
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>Following code is directly taken from
                                        <code>example.app.views.py</code>
                                        file of the app.</p>
                                    <pre><code class="python">
import csv
from export_csv.views import ExportCSV
from .models import Account

class AccountCSV(ExportCSV):
    """View for creating and rendering CSV of Account instances returned by
    custom queryset.
    """
    # use this filename for rendering CSV
    filename = 'rich_account_list.csv'

    def get_queryset(self):
        """Write to CSV only those Account instances whose balance is greater
        than 600000."""
        return Account.objects.filter(balance__gt=600000)

    def get_field_names(self):
        """Write to CSV only account_no and owner fields."""
        return ['account_no', 'owner']
                                            </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="customers">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Active</th>
                                    <th>Last Updated</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in customers %}
                                <tr>
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.address | linebreaksbr }}
                                    </td>
                                    <td>{{customer.is_active | yesno }}</td>
                                    <td>{{customer.last_updated }}</td>
                                </tr>
                                {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-primary"
                               href="{% url 'customer-csv' %}">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                Download Customers CSV
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">Implementation
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>Following code is directly taken from
                                        <code>example.app.views.py</code>
                                        file of the app.</p>
                                    <pre><code class="python">
import csv
from export_csv.views import ExportCSV
from .models import Customer

class CustomerCSV(ExportCSV):
    """View for creating and rendering CSV of all Customer model instances."""
    model = Customer
                                            </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2016 Narendra Choudhary.</p>
    </footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/languages/python.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
